.burgerIcon {
    width: 30px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-topStripe,
    &-midStripe,
    &-bottomStripe {
        height: 2px;
        border: 1px solid;
        border-radius: 1px;
    }

    &--opened {
        burgerIcon-topStripe,
        burgerIcon-bottomStripe {
            width: 0;
        }
    }

    &:hover {
        cursor: pointer
    }
}