:root {
    --header-bg-color: linear-gradient(#4ddbff, #ffffff);
    --footer-bg-color: linear-gradient(#ffffff, #4ddbff);
    --calculator-bg-color: #ffffff;
    --logo-color: #000000;
    --main-text-color: #000000;
    --operatorButton-bg-color: #ffffff;
    --operatorButton-bg-color: #4ddbff;
    --equalButton-bg-color: #4ddbff;
}