:root {
    --themeSwitcher-bg-color: #737373;
    --calculator-bg-color: #ffffff;
    --logo-color: #000000;
    --main-text-color: #000000;
    --numberButton-bg-color: #ffffff;
    --operatorButton-bg-color: #e6f2ff;
    --equalButton-bg-color: #737373;
}