:root {
    --themeSwitcher-bg-color: #9fbfdf;
    --calculator-bg-color: #ffffff;
    --logo-color: #000000;
    --main-text-color: #000000;
    --numberButton-bg-color: #ffffff;
    --operatorButton-bg-color: #9fbfdf;
    --equalButton-bg-color: #9fbfdf;
}